.hero {
  height: 80vh;
  background: url("your-image.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-icon {
  width: 80px;  /* adjust size of icon */
  height: auto;
  opacity: 0.9;
}


.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  background: #ff7f50;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}
.btn:hover {
  background: #ff5722;
}



h3{
  color: white;
}
p{
  color: white;
}
h1{
  color: white;
}
ul{
  color: white;
}
h2{
  color:white
}
label{
  color:white
}
